@page "/user/role/permission/{id:int}"
@inject IToastService toastService

@attribute [Authorize]



@if (string.IsNullOrEmpty(statusResult.Message))
{
    <div></div>
}
else
{
    if (statusResult.Message != "" && statusResult.StatusCode == 200)
    {
        @*<div class="alert alert-success">@statusResult.Message</div>*@
        toastService.ShowSuccess(@statusResult.Message);
    }
    else
    {
        <div class="alert alert-danger">@statusResult.Message</div>
    }

}
<div class="col-12">
    <h3><b>@RoleName</b></h3>
    <hr />  
        <div class="col-12 row">  
            <label class="col-2 font-weight-bold">Menu List :</label>
        
        
        @*<CheckBoxList Data="@NavigationMenuDtos"
                      TextField="@((item)=>item.Name)"  
                          ValueField="@((item)=>item.Id)"  
                          SelectedValues="@SelectedIds" />  *@
        <div >
            @if (NavigationMenuDtos != null)
            {
                foreach (var item in NavigationMenuDtos)
                {
                    
                    var children = NavigationMenuDtos.Where(x => x.ParentMenuId == item.Id).OrderBy(x => x.DisplayOrder).ToList();
                    @if (children.Count > 0 && !string.IsNullOrWhiteSpace(item.Name))
                    {
                        <p>@item.Name</p>
                       

                    }
                    @if (children != null)
                    {
                        
                            @foreach (var itm in children)
                            {
                            var Text = itm.Name;
                            var Value = itm.Id.ToString();
                            bool Checked = false;
                            if (SelectedIds.Contains(Value))
                            {
                                Checked = true;
                            }
                            
                            <div class="ml-4">
                                <input type="checkbox" checked=@Checked
                                    @onchange="eventArgs => { CheckboxClicked(Value, eventArgs.Value); }" />
                                @Text <br />
                            </div>
                                @*<li>
                                    <a href="@itm.ActionUrl">@itm.Name</a>
                                </li>*@

                            }
                    }
                    
                }
            }
            
        </div>
    </div>  
         
        <br />  
        <div class="col-12 row">  
        <button class="form-control col-1 btn btn-primary text-white" @onclick="UpdateNavigationRole">Update</button>
        <a style="margin-left:15px" class="form-control col-1 btn btn-primary text-white" href="/user/role">Goto List</a>
    </div>  
</div>




