@page "/user/role/permission/{id:int}"

@attribute [Authorize]



@if (string.IsNullOrEmpty(statusResult.Message))
{
    <div></div>
}
else
{
    if (statusResult.Message != "" && statusResult.StatusCode == 200)
    {
        <div class="alert alert-success">@statusResult.Message</div>
    }
    else
    {
        <div class="alert alert-danger">@statusResult.Message</div>
    }

}
<div class="col-12">
    <h3><b>@RoleName</b></h3>
    <hr />  
        <div class="col-12 row">  
            <label class="col-2 font-weight-bold">CheckBox List :</label>
        
        
        <CheckBoxList Data="@NavigationMenuDtos"
                      TextField="@((item)=>item.Name)"  
                          ValueField="@((item)=>item.Id)"  
                          SelectedValues="@SelectedIds" />  
        </div>  
         
        <br />  
        <div class="col-12 row">  
            <span class="col-1"></span>
        <button class="form-control col-1 btn btn-primary text-white" @onclick="UpdateNavigationRole">Update</button>
    </div>  
</div>

<a href="/user/role">Goto List</a>


