@page "/users"

@attribute [Authorize]

<h3>SetData</h3>
@if (UserDtos == null || UserDtos.Count == 0)
{
    <span>Loading Users...</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    UserName
                </th>
                <th>
                    Email
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in UserDtos)
            {
                <tr>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" @onclick="(() => EditUser(item.Id))">
                            <i class=" oi oi-pencil"></i>
                        </button>
                        @*<button class="btn btn-primary" @onclick="(() => EditUser(item.Id))">
                <i class="oi oi-pencil"></i>
                </button>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @if (statusResult.Message != null || statusResult.Message != "")
                {
                    if (statusResult.StatusCode == 200)
                    {
                        <div class="alert alert-success">@statusResult.Message</div>
                    }
                    else
                    {
                        <div class="alert alert-danger">@statusResult.Message</div>
                    }
                }
                
                <EditForm Model="userDto" OnSubmit="UpdateUser">
                    <div class="modal-body">

                        <div class="row p-2">
                            <div class="col-6">
                                <label>UserName</label>
                                <InputText @bind-Value="userDto.UserName" class="form-control"></InputText>
                            </div>
                            <div class="col-6">
                                <label>Email</label>
                                <InputText @bind-Value="userDto.Email" class="form-control"></InputText>
                            </div>
                            <div class="col">
                                <label>Email</label>
                                <InputSelect @bind-Value="userDto.RoleId" class="form-control">
                                    @foreach (var roleDto in RoleDtos)
                                    {
                                        <option value=@roleDto.Id>@roleDto.Name</option>
                                    }
                                    @if (RoleDtos == null || RoleDtos.Count == 0)
                                    {
                                        <option value="">none</option>
                                    }
                                </InputSelect>
                            </div>
                            
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">update</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>


}


